.button-primary {
  background-color: #000000;
}

.button-green {
  background-color: #28a745;
}

.button-red {
  background-color: #dc3545;
}

.button-yellow {
  background-color: #ffc107;
  color: #212529;
}
